***List Based Practice Problem***

In [ ]:
#1. Create a list with integers from 1 to 10.
#l=list(range(1,11))
#print(l)
integer_list=[i for i in range(1,11)]
print(integer_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#2. Find the length of a list without using the `len()` function.
l=[1,2,3,4,5,6,7,8,9,10]
count=0
for i in l:
  count+=1
print(count)

10

In [ ]:
def custom_len(input_list):
  count=0
  for _ in input_list:
    count+=1
  return count

my_list=[20,30,50,90,10]
length=custom_len(my_list)
print(length)

5

In [ ]:
#3. Append an element to the end of a list.
l=list(range(1,6))
l.append(7)
l

[1, 2, 3, 4, 5, 7]

In [ ]:
#4. Insert an element at a specific index in a list.
l=list(range(1,5))
print(l)
l.insert(3,10)
l

[1, 2, 3, 4]

[1, 2, 3, 10, 4]

In [ ]:
#5. Remove an element from a list by its value
my_list=list(range(1,10))
my_list.remove(5)
my_list

[1, 2, 3, 4, 6, 7, 8, 9]

In [ ]:
#6. Remove an element from a list by its index.
my_list=list(range(1,10))
print(my_list)
my_list.pop(2)
print(my_list)
my_list.pop()
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 4, 5, 6, 7, 8, 9]
[1, 2, 4, 5, 6, 7, 8]

In [ ]:
#7. Check if an element exists in a list.
my_list=list(range(1,10))
if 5 in my_list:
  print("yes")
else:
  print("no")

yes

In [ ]:
#8. Find the index of the first occurrence of an element in a list.
list1=[1,2,4,3,2,4,2,3,5,4]
list1.index(4)

2

In [ ]:
#9. Count the occurrences of an element in a list.
list1=[1,2,4,3,2,4,2,3,5,4]
list1.count(3)

2

In [ ]:
#10. Reverse the order of elements in a list.
print(my_list)
my_list.reverse()
print(my_list)
#my_list[::-1]

[8, 7, 6, 5, 4, 2, 1]
[1, 2, 4, 5, 6, 7, 8]

In [ ]:
#11. Sort a list in ascending order.
list1=[9,5,2,7,4,8,10]
#slist1=sorted(list1)
print(list1)
list1.sort()
print(list1)

[9, 5, 2, 7, 4, 8, 10]
[2, 4, 5, 7, 8, 9, 10]

In [ ]:
#12. Sort a list in descending order.
list1=[9,5,2,7,4,8,10]
#rslist1=sorted(list1,reverse=True)
print(list1)
list1.sort(reverse=True)
print(list1)

[9, 5, 2, 7, 4, 8, 10]
[10, 9, 8, 7, 5, 4, 2]

In [ ]:
#13. Create a list of even numbers from 1 to 20.
#even_numbers=[i for i in range(1,21) if i%2==0]
even_numbers=[i for i in range(2,21,2)]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
#14. Create a list of odd numbers from 1 to 20.
#odd_numbers=[i for i in range(1,20) if i%2!=0]
odd_numbers=[i for i in range(1,21,2)]
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
#15. Find the sum of all elements in a list.
my_list=list(range(1,11))
sum_my_list=sum(my_list)
print(sum_my_list)

55

In [ ]:
#16. Find the maximum value in a list.
my_list
max_value=max(my_list)
print(max_value)

10

In [ ]:
#17. Find the minimum value in a list.
my_list
min_value=min(my_list)
print(min_value)

1

In [ ]:
#18. Create a list of squares of numbers from 1 to 10.
#my_list=list(range(1,11))
s_my_list=[x**2 for x in range(1,11)]
print(s_my_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#19. Create a list of random numbers.
import random
r_num = [random.randint(1,20) for i in range(10)]
print(r_num)

[9, 20, 12, 7, 6, 13, 8, 7, 4, 3]

In [ ]:
#20. Remove duplicates from a list.
list1=[1,2,4,3,2,4,2,3,5,4]
f_list1=list(set(list1))
print(f_list1)

[1, 2, 3, 4, 5]

In [ ]:
#21. Find the common elements between two lists.
list1=[2,3,4,1,3,4,5]
list2=[3,4,2,5,6,7,7]
#c_e=set(list1)& set(list2)
#common_elements=list(c_e)
common_elements=list(set(list1)&set(list2))
print("the common elements:",common_elements)

the common elements: [2, 3, 4, 5]

In [ ]:
#22. Find the difference between two lists.
list1=[2,3,4,1,3,4,5]
list2=[3,4,2,5,6,7,7]
#d_e=set(list1)-set(list2)
#different_elements=list(d_e)
different_elements=list(set(list1).difference(set(list2)))
print("the different elements:",different_elements)

the different elements: [1]

In [ ]:
#list comprehension method(Alternative method)
difference=[i for i in list1 if i not in list2]
print(difference)

[1]

In [ ]:
#23. Merge two lists.
list1=[2,3,4,1,3,4,5]
list2=[3,4,2,5,6,7,7]
#list1.extend(list2)
print(list1)
print(list2)
merged_list=list1+list2
print(merged_list)

[2, 3, 4, 1, 3, 4, 5]
[3, 4, 2, 5, 6, 7, 7]
[2, 3, 4, 1, 3, 4, 5, 3, 4, 2, 5, 6, 7, 7]

In [ ]:
#24. Multiply all elements in a list by 2.
list1=[2,3,4,5]
m_list1=[i*2 for i in list1]
print(m_list1)

[4, 6, 8, 10]

In [ ]:
#25. Filter out all even numbers from a list.
l=[1,2,3,4,5,6,7,8,9,10]
f_l=[i for i in l if i%2!=0]
print(f_l)

[1, 3, 5, 7, 9]

In [ ]:
#26. Convert a list of strings to a list of integers.
string_list=["2","4","3","5"]
integer_list=[int(i) for i in string_list]
#integer_list=list(map(int,string_list))
print(integer_list)

[2, 4, 3, 5]

In [ ]:
#27. Convert a list of integers to a list of strings.
integer_list=[2,3,4,5]
string_list=[str(i) for i in integer_list]
print(string_list)

['2', '3', '4', '5']

In [ ]:
#28. Flatten a nested list.
nested_list=[[1,2,3],[3,4,5],[6,7]]
def flatten_list(nested):
  flattened=[]
  for sublist in nested:
    if isinstance(sublist,list):
      flattened.extend(flatten_list(sublist))
    else:
      flattened.append(sublist)
  return flattened

flattened_list=flatten_list(nested_list)
print(flattened_list)

[1, 2, 3, 3, 4, 5, 6, 7]

In [ ]:
#29. Create a list of the first 10 Fibonacci numbers.
def generate_fibonacci(n):
  fibonacci_list=[0,1]

  for i in range(2,n):
    next_fibonacci=fibonacci_list[i-1]+fibonacci_list[i-2]
    fibonacci_list.append(next_fibonacci)

  return fibonacci_list

fibonacci_numbers=generate_fibonacci(10)
print(fibonacci_numbers)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
#30. Check if a list is sorted.
def is_sorted_ascending(lst):
  for i in range(1,len(lst)):
    if lst[i]<lst[i-1]:
      return False
  return True

ascending_list=[20,50,60,90,100]
if is_sorted_ascending(ascending_list):
  print("the list is sorted in ascending order")
else:
  print("the list is not sorted")

the list is sorted in ascending order

In [ ]:
#31. Rotate a list to the left by `n` positions.
def rotate_left(lst,n):
  n=n%len(lst)
  rotated=lst[n:]+lst[:n]
  return rotated

my_list=[1,2,3,4,5,6]
n=4
rotated_list=rotate_left(my_list,n)
print(rotated_list)

[5, 6, 1, 2, 3, 4]

In [ ]:
#32. Rotate a list to the right by `n` positions.
def rotate_right(lst,n):
  n=n%len(lst)
  rotated=lst[-n:]+lst[:-n]
  return rotated

my_list=[1,2,3,4,5,6,7]
n=4
rotated_list=rotate_right(my_list,n)
print(rotated_list)

[4, 5, 6, 7, 1, 2, 3]

In [ ]:
#33. Create a list of prime numbers up to 50.
#def is_prime(num):
#   if num<=1:
#    return False
#  if num<=3:
#    return True
# if num%2==0 or num%3==0:
#    return False
#  i=5
#  while i*i <=num:
#    if num%i==0 or num%(i+2)==0:
#      return False
#    i+=6
#  return True

def is_prime(num):
  if num<=1:
    return False
  for i in range(2,int(num**0.5)+1):
    if num%i == 0:
      return False
  return True

prime_numbers=[num for num in range(2,51) if is_prime(num)]
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [ ]:
#34. Split a list into chunks of size `n`.